In [ ]:
import pandas as pd

df1=pd.DataFrame([["A",2,3],["B",5,6],["C",8,9]])
df1.columns=["AAA", "BBB", "CCC"]


df2=pd.DataFrame([["B",12,13],["C",15,16],["D",18,19]])
df2.columns=["AAA", "DDD", "EEE"]
df1,df2

(  AAA  BBB  CCC
 0   A    2    3
 1   B    5    6
 2   C    8    9,
   AAA  DDD  EEE
 0   B   12   13
 1   C   15   16
 2   D   18   19)

In [15]:
merged=df1.merge(df2, on="AAA")
merged

  AAA  BBB  CCC  DDD  EEE
0   B    5    6   12   13
1   C    8    9   15   16