In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

import numpy as np

def load_data_files():
    tags = pd.read_csv("../moviedata/tags.csv")

    return tags

tags = load_data_files()

In [82]:
tags.sort_values("movieId")
tags["tag"].value_counts().describe()

count    153949.000000
mean         15.123827
std         146.109545
min           1.000000
25%           1.000000
50%           1.000000
75%           4.000000
max       14319.000000
Name: count, dtype: float64

In [2]:
x = tags.groupby("tag").count()

x = x[x["movieId"]>1000]
common_tags=x.index
short_taglist = tags[tags["tag"].isin(common_tags)]

short_taglist

         userId  movieId            tag   timestamp
1            10      260  Harrison Ford  1430666505
2            10      260         sci-fi  1430666538
4            14     1221          mafia  1311600746
7            14    58559     comic book  1311530398
8            14    58559           dark  1311530428
...         ...      ...            ...         ...
2328296  330923   166643       feminism  1507022400
2328306  330923   175303  coming of age  1507546975
2328311  330933     3317  coming of age  1351279384
2328312  330933     3317      sexuality  1351279389
2328314  330947    44191     comic book  1154271525

[725022 rows x 4 columns]

In [3]:
short_taglist.drop(columns=["userId", "timestamp"], inplace=True)
short_taglist

C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_12840\1690197672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short_taglist.drop(columns=["userId", "timestamp"], inplace=True)

         movieId            tag
1            260  Harrison Ford
2            260         sci-fi
4           1221          mafia
7          58559     comic book
8          58559           dark
...          ...            ...
2328296   166643       feminism
2328306   175303  coming of age
2328311     3317  coming of age
2328312     3317      sexuality
2328314    44191     comic book

[725022 rows x 2 columns]

In [4]:
short_taglist["ones"]=1
short_taglist

C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_12840\182659872.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short_taglist["ones"]=1

         movieId            tag  ones
1            260  Harrison Ford     1
2            260         sci-fi     1
4           1221          mafia     1
7          58559     comic book     1
8          58559           dark     1
...          ...            ...   ...
2328296   166643       feminism     1
2328306   175303  coming of age     1
2328311     3317  coming of age     1
2328312     3317      sexuality     1
2328314    44191     comic book     1

[725022 rows x 3 columns]

In [5]:
tag_pivot = short_taglist.pivot_table(index="movieId", columns="tag", values="ones", aggfunc="sum")

tag_pivot.fillna(0, inplace=True)
tag_pivot

tag,1960s,1970s,1980s,Action,BD-R,Betamax,Bill Murray,Brad Pitt,British,Bruce Willis,...,virtual reality,visually appealing,visually stunning,war,weird,western,whimsical,witty,woman director,zombies
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288753,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
288765,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
288849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
288937,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
288955,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [104]:
tag_pivot["Brad Pitt"].value_counts()

Brad Pitt
0.0      37897
1.0          6
8.0          3
19.0         3
3.0          2
2.0          2
22.0         2
12.0         2
11.0         2
9.0          2
54.0         2
26.0         2
4.0          2
80.0         1
24.0         1
270.0        1
27.0         1
114.0        1
89.0         1
85.0         1
43.0         1
47.0         1
58.0         1
73.0         1
174.0        1
57.0         1
41.0         1
35.0         1
7.0          1
21.0         1
Name: count, dtype: int64

In [9]:
def load_data_files():
    movies = pd.read_csv("../moviedata/movies.csv")

    return movies

movies = load_data_files()

In [11]:
movies.drop(columns="genres", inplace=True)
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86537 entries, 0 to 86536
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86537 non-null  int64
 1   title    86537 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.3+ MB

In [12]:
mm=movies.merge(tag_pivot, on="movieId")
mm

,movieId,title,1960s,1970s,1980s,Action,BD-R,Betamax,Bill Murray,Brad Pitt,...,virtual reality,visually appealing,visually stunning,war,weird,western,whimsical,witty,woman director,zombies
0,1,Toy Story (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45.0,0.0,0.0
1,2,Jumanji (1995),1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37939,288753,The Deep Web: Murdershow (2023),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37940,288765,Bird Box Barcelona (2023),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37941,288849,Colaholic (2018),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37942,288937,Blue Thermal (2022),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37943,288955,Agata's Friends (2016),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0