In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

import numpy as np

def load_data_files():
    movies = pd.read_csv("../moviedata/movies.csv")
    ratings = pd.read_csv("../moviedata/ratings.csv")
    return movies, ratings

movies, ratings = load_data_files()

In [2]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        1     4.0  1225734739
1       1      110     4.0  1225865086
2       1      158     4.0  1225733503
3       1      260     4.5  1225735204
4       1      356     5.0  1225735119

In [2]:
movies.drop_duplicates("title", inplace=True)

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86330 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86330 non-null  int64
 1   title    86330 non-null  object
 2   genres   86330 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.6+ MB

In [3]:
merged = ratings.merge(movies, on="movieId")

In [72]:

merged.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,1225734739,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,110,4.0,1225865086,Braveheart (1995),Action|Drama|War
2,1,158,4.0,1225733503,Casper (1995),Adventure|Children
3,1,260,4.5,1225735204,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
4,1,356,5.0,1225735119,Forrest Gump (1994),Comedy|Drama|Romance|War

In [4]:
merged=merged[merged["timestamp"]%10==0]

In [74]:
merged.head()

,userId,movieId,rating,timestamp,title,genres
12,1,1210,4.5,1225735210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi
20,1,1959,4.0,1225734190,Out of Africa (1985),Drama|Romance
43,1,7122,4.0,1225736170,King of Hearts (1966),Comedy|Drama|War
156,3,2959,5.0,1536173840,Fight Club (1999),Action|Crime|Drama|Thriller
199,4,46578,4.0,1442456140,Little Miss Sunshine (2006),Adventure|Comedy|Drama

In [5]:
x = merged.groupby("userId").count()
x = x[(x["rating"]>80) & (x["rating"]<200)]
expert_users=x.index
merged_xu = merged[merged["userId"].isin(expert_users)]

In [76]:
merged_xu

,userId,movieId,rating,timestamp,title,genres
13584,149,31,3.5,1118371520,Dangerous Minds (1995),Drama
13589,149,48,0.5,1117130520,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
13607,149,208,3.0,1117142320,Waterworld (1995),Action|Adventure|Sci-Fi
13608,149,216,0.5,1117595840,Billy Madison (1995),Comedy
13615,149,262,3.0,1117143780,"Little Princess, A (1995)",Children|Drama
...,...,...,...,...,...,...
33821576,330914,215525,2.0,1615953240,Artemis Fowl (2020),Adventure|Children|Fantasy|Sci-Fi
33821586,330914,231413,5.0,1682070100,Demon Slayer the Movie: Mugen Train (2020),Action|Adventure|Animation|Drama|Fantasy
33821589,330914,249180,4.5,1682069870,Violet Evergarden: The Movie (2020),Animation|Drama|Fantasy|Romance
33821590,330914,250546,4.5,1622894330,Friends: The Reunion (2021),Comedy|Documentary
33821592,330914,260667,2.0,1685125280,Encanto (2021),Adventure|Animation|Children|Fantasy

In [77]:
merged_xu.head()

,userId,movieId,rating,timestamp,title,genres
13584,149,31,3.5,1118371520,Dangerous Minds (1995),Drama
13589,149,48,0.5,1117130520,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
13607,149,208,3.0,1117142320,Waterworld (1995),Action|Adventure|Sci-Fi
13608,149,216,0.5,1117595840,Billy Madison (1995),Comedy
13615,149,262,3.0,1117143780,"Little Princess, A (1995)",Children|Drama

In [6]:
y = merged_xu.groupby("title").count()["rating"]>100
pop_films=y[y].index

merged_xu_pf = merged_xu[merged_xu["title"].isin(pop_films)]

In [7]:
merged_xu_pf.head()

,userId,movieId,rating,timestamp,title,genres
13584,149,31,3.5,1118371520,Dangerous Minds (1995),Drama
13589,149,48,0.5,1117130520,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
13607,149,208,3.0,1117142320,Waterworld (1995),Action|Adventure|Sci-Fi
13608,149,216,0.5,1117595840,Billy Madison (1995),Comedy
13630,149,342,4.0,1117130480,Muriel's Wedding (1994),Comedy

In [12]:
merged.index

Index([      12,       20,       43,      156,      199,      206,      216,
            225,      236,      241,
       ...
       33828360, 33828369, 33828383, 33828384, 33828392, 33828393, 33828408,
       33828448, 33828449, 33828455],
      dtype='int64', length=3381112)

In [8]:
set_of_genres=set()

for j in merged_xu_pf.index:    
    lista=merged_xu_pf["genres"][j].split("|")
    for word in lista:
        set_of_genres.add(word)

print(set_of_genres)

number_of_genres=len(set_of_genres)
number_of_genres

{'Documentary', 'Animation', 'Mystery', 'Adventure', 'Drama', 'Comedy', 'Sci-Fi', 'Film-Noir', 'Musical', 'Crime', 'IMAX', 'Fantasy', 'Horror', 'War', 'Thriller', 'Romance', 'Action', 'Children', 'Western'}

19

In [9]:
# Tar ca 3 minuter
for k in set_of_genres:
    merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)

C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)

In [15]:
merged_xu_pf.head()

,userId,movieId,rating,timestamp,title,genres,Animation,Adventure,Thriller,Western,...,Fantasy,Musical,Film-Noir,Romance,Children,War,Comedy,IMAX,Action,(no genres listed)
13584,149,31,3.5,1118371520,Dangerous Minds (1995),Drama,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13589,149,48,0.5,1117130520,Pocahontas (1995),Animation|Children|Drama|Musical|Romance,1,0,0,0,...,0,1,0,1,1,0,0,0,0,0
13607,149,208,3.0,1117142320,Waterworld (1995),Action|Adventure|Sci-Fi,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
13608,149,216,0.5,1117595840,Billy Madison (1995),Comedy,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
13630,149,342,4.0,1117130480,Muriel's Wedding (1994),Comedy,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [10]:
merged_xu_pf["year"]=merged_xu_pf["title"].str[-5:-1]

C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_228\2653649772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf["year"]=merged_xu_pf["title"].str[-5:-1]

In [12]:
merged_xu_pf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 323069 entries, 13584 to 33821566
Data columns (total 26 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   userId       323069 non-null  int64
 1   movieId      323069 non-null  int64
 2   rating       323069 non-null  float64
 3   timestamp    323069 non-null  int64
 4   title        323069 non-null  object
 5   genres       323069 non-null  object
 6   Documentary  323069 non-null  int64
 7   Animation    323069 non-null  int64
 8   Mystery      323069 non-null  int64
 9   Adventure    323069 non-null  int64
 10  Drama        323069 non-null  int64
 11  Comedy       323069 non-null  int64
 12  Sci-Fi       323069 non-null  int64
 13  Film-Noir    323069 non-null  int64
 14  Musical      323069 non-null  int64
 15  Crime        323069 non-null  int64
 16  IMAX         323069 non-null  int64
 17  Fantasy      323069 non-null  int64
 18  Horror       323069 non-null  int64
 19  War          323069 non-null  int64
 20  Thriller     323069 non-null  int64
 21  Romance      323069 non-null  int64
 22  Action       323069 non-null  int64
 23  Children     323069 non-null  int64
 24  Western      323069 non-null  int64
 25  year         323069 non-null  object
dtypes: float64(1), int64(22), object(3)
memory usage: 74.6+ MB

In [13]:
merged_xu_pf=merged_xu_pf[merged_xu_pf["year"].str.isnumeric()]

In [14]:
merged_xu_pf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 322954 entries, 13584 to 33821566
Data columns (total 26 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   userId       322954 non-null  int64
 1   movieId      322954 non-null  int64
 2   rating       322954 non-null  float64
 3   timestamp    322954 non-null  int64
 4   title        322954 non-null  object
 5   genres       322954 non-null  object
 6   Documentary  322954 non-null  int64
 7   Animation    322954 non-null  int64
 8   Mystery      322954 non-null  int64
 9   Adventure    322954 non-null  int64
 10  Drama        322954 non-null  int64
 11  Comedy       322954 non-null  int64
 12  Sci-Fi       322954 non-null  int64
 13  Film-Noir    322954 non-null  int64
 14  Musical      322954 non-null  int64
 15  Crime        322954 non-null  int64
 16  IMAX         322954 non-null  int64
 17  Fantasy      322954 non-null  int64
 18  Horror       322954 non-null  int64
 19  War          322954 non-null  int64
 20  Thriller     322954 non-null  int64
 21  Romance      322954 non-null  int64
 22  Action       322954 non-null  int64
 23  Children     322954 non-null  int64
 24  Western      322954 non-null  int64
 25  year         322954 non-null  object
dtypes: float64(1), int64(22), object(3)
memory usage: 66.5+ MB

In [15]:
merged_xu_pf["year"]=merged_xu_pf["year"].astype(int)

In [14]:
merged_xu_pf.head()

,userId,movieId,rating,timestamp,title,genres,Sci-Fi,Children,Mystery,Musical,...,War,Western,Documentary,Animation,Drama,Crime,Comedy,(no genres listed),Adventure,year
13584,149,31,3.5,1118371520,Dangerous Minds (1995),Drama,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1995
13589,149,48,0.5,1117130520,Pocahontas (1995),Animation|Children|Drama|Musical|Romance,0,1,0,1,...,0,0,0,1,1,0,0,0,0,1995
13607,149,208,3.0,1117142320,Waterworld (1995),Action|Adventure|Sci-Fi,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1995
13608,149,216,0.5,1117595840,Billy Madison (1995),Comedy,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1995
13630,149,342,4.0,1117130480,Muriel's Wedding (1994),Comedy,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1994

In [16]:
design_matrix = merged_xu_pf.pivot_table(index="title", columns=["userId"], values="rating")

design_matrix.fillna(0, inplace=True)
design_matrix.head()

userId,149,198,305,440,461,527,559,562,677,847,...,330371,330429,330507,330532,330687,330750,330771,330842,330908,330914
title,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer (2009),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Cloverfield Lane (2016),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0
10 Things I Hate About You (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians (1996),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians (One Hundred and One Dalmatians) (1961),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
for j in range(6,6+number_of_genres):
    new_df=pd.DataFrame(merged_xu_pf.groupby("title")[merged_xu_pf.columns[j]].sum())
    design_matrix=new_df.merge(design_matrix, on="title")

design_matrix.head()

,Western,Children,Action,Romance,Thriller,War,Horror,Fantasy,IMAX,Crime,...,330371,330429,330507,330532,330687,330750,330771,330842,330908,330914
title,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer (2009),0,0,0,186,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Cloverfield Lane (2016),0,0,0,0,149,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0
10 Things I Hate About You (1999),0,0,0,225,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians (1996),0,159,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians (One Hundred and One Dalmatians) (1961),0,215,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
design_matrix["year"]=design_matrix.index.str[-5:-1]
design_matrix=design_matrix[design_matrix["year"].str.isnumeric()]

In [19]:
design_matrix["year"]=design_matrix["year"].astype(int)
design_matrix.head()

,Western,Children,Action,Romance,Thriller,War,Horror,Fantasy,IMAX,Crime,...,330429,330507,330532,330687,330750,330771,330842,330908,330914,year
title,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer (2009),0,0,0,186,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2009
10 Cloverfield Lane (2016),0,0,0,0,149,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,2016
10 Things I Hate About You (1999),0,0,0,225,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1999
101 Dalmatians (1996),0,159,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1996
101 Dalmatians (One Hundred and One Dalmatians) (1961),0,215,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1961

In [20]:
design_matrix.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1646 entries, (500) Days of Summer (2009) to ¡Three Amigos! (1986)
Columns: 5013 entries, Western to year
dtypes: float64(4993), int64(20)
memory usage: 63.0+ MB

In [22]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity

design_matrix.columns = design_matrix.columns.astype(str)

scaler = StandardScaler(with_mean=True, with_std=True)
design_matrix_scal = scaler.fit_transform(design_matrix)

In [23]:
design_matrix_scal

array([[-0.13517984, -0.27767488, -0.62801569, ..., -0.17313681,
        -0.20270294,  0.87542788],
       [-0.13517984, -0.27767488, -0.62801569, ..., -0.17313681,
        -0.20270294,  1.34173458],
       [-0.13517984, -0.27767488, -0.62801569, ..., -0.17313681,
        -0.20270294,  0.20927547],
       ...,
       [-0.13517984, -0.27767488,  0.45549446, ..., -0.17313681,
        -0.20270294,  0.20927547],
       [-0.13517984, -0.27767488,  1.1507468 , ..., -0.17313681,
        -0.20270294,  0.40912119],
       [ 6.1463575 , -0.27767488, -0.62801569, ..., -0.17313681,
        -0.20270294, -0.65672268]], shape=(1646, 5013))

In [24]:
similarity_score = cosine_similarity(design_matrix_scal)
similarity_score

array([[ 1.00000000e+00,  3.69447182e-02,  5.65226251e-03, ...,
        -7.28062582e-03, -1.28290616e-02, -1.29348178e-02],
       [ 3.69447182e-02,  1.00000000e+00, -1.55418863e-02, ...,
         6.18744436e-04,  1.43867850e-03, -2.70852441e-02],
       [ 5.65226251e-03, -1.55418863e-02,  1.00000000e+00, ...,
        -2.12155633e-02,  8.06053050e-03, -1.13691503e-03],
       ...,
       [-7.28062582e-03,  6.18744436e-04, -2.12155633e-02, ...,
         1.00000000e+00,  1.18005540e-03, -6.90631857e-03],
       [-1.28290616e-02,  1.43867850e-03,  8.06053050e-03, ...,
         1.18005540e-03,  1.00000000e+00, -3.03179761e-02],
       [-1.29348178e-02, -2.70852441e-02, -1.13691503e-03, ...,
        -6.90631857e-03, -3.03179761e-02,  1.00000000e+00]],
      shape=(1646, 1646))

In [25]:
def recommend(movie_title):
    index=np.where(design_matrix.index==movie_title)[0][0]
    similar_movies = sorted(list(enumerate(similarity_score[index])), key=lambda x: x[1], reverse=True)[1:6]
    data=[]

    for index, similarity in similar_movies:
        item = []
        temp_df = movies[movies["title"]==design_matrix.index[index]]
        item.extend(temp_df["title"].values)
        data.append(item)

    return data

In [27]:
recommend("Titanic ")

[[], [], [], [], []]