In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

import numpy as np

def load_data_files():
    movies = pd.read_csv("../moviedata/movies.csv")
    ratings = pd.read_csv("../moviedata/ratings.csv")
    return movies, ratings

movies, ratings = load_data_files()

In [2]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        1     4.0  1225734739
1       1      110     4.0  1225865086
2       1      158     4.0  1225733503
3       1      260     4.5  1225735204
4       1      356     5.0  1225735119

In [31]:
movies.drop_duplicates("title", inplace=True)

In [32]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86330 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86330 non-null  int64
 1   title    86330 non-null  object
 2   genres   86330 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.6+ MB

In [33]:
merged = ratings.merge(movies, on="movieId")

In [34]:

merged.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,1225734739,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,110,4.0,1225865086,Braveheart (1995),Action|Drama|War
2,1,158,4.0,1225733503,Casper (1995),Adventure|Children
3,1,260,4.5,1225735204,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
4,1,356,5.0,1225735119,Forrest Gump (1994),Comedy|Drama|Romance|War

In [35]:
merged=merged[merged["timestamp"]%10==0]

In [36]:
merged.head()

,userId,movieId,rating,timestamp,title,genres
12,1,1210,4.5,1225735210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi
20,1,1959,4.0,1225734190,Out of Africa (1985),Drama|Romance
43,1,7122,4.0,1225736170,King of Hearts (1966),Comedy|Drama|War
156,3,2959,5.0,1536173840,Fight Club (1999),Action|Crime|Drama|Thriller
199,4,46578,4.0,1442456140,Little Miss Sunshine (2006),Adventure|Comedy|Drama

In [37]:
x = merged.groupby("userId").count()["rating"]>80
expert_users=x[x].index

merged_xu = merged[merged["userId"].isin(expert_users)]

In [39]:
merged_xu.head()

,userId,movieId,rating,timestamp,title,genres
13584,149,31,3.5,1118371520,Dangerous Minds (1995),Drama
13589,149,48,0.5,1117130520,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
13607,149,208,3.0,1117142320,Waterworld (1995),Action|Adventure|Sci-Fi
13608,149,216,0.5,1117595840,Billy Madison (1995),Comedy
13615,149,262,3.0,1117143780,"Little Princess, A (1995)",Children|Drama

In [40]:
y = merged_xu.groupby("title").count()["rating"]>100
pop_films=y[y].index

merged_xu_pf = merged_xu[merged_xu["title"].isin(pop_films)]

In [42]:
merged_xu_pf.head()

,userId,movieId,rating,timestamp,title,genres
13584,149,31,3.5,1118371520,Dangerous Minds (1995),Drama
13589,149,48,0.5,1117130520,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
13607,149,208,3.0,1117142320,Waterworld (1995),Action|Adventure|Sci-Fi
13608,149,216,0.5,1117595840,Billy Madison (1995),Comedy
13630,149,342,4.0,1117130480,Muriel's Wedding (1994),Comedy

In [48]:
merged.index

Index([      12,       20,       43,      156,      199,      206,      216,
            225,      236,      241,
       ...
       33828360, 33828369, 33828383, 33828384, 33828392, 33828393, 33828408,
       33828448, 33828449, 33828455],
      dtype='int64', length=3381112)

In [49]:
set_of_genres=set()

for j in merged.index:
    list=merged["genres"][j].split("|")
    for word in list:
        set_of_genres.add(word)

print(set_of_genres)

print(len(set_of_genres))

{'IMAX', 'Western', 'War', 'Horror', 'Film-Noir', 'Animation', 'Action', 'Drama', 'Romance', '(no genres listed)', 'Crime', 'Thriller', 'Comedy', 'Documentary', 'Fantasy', 'Sci-Fi', 'Mystery', 'Adventure', 'Musical', 'Children'}
20

In [50]:
# Tar ca 3 minuter
for k in set_of_genres:
    merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)

C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)

In [51]:
merged_xu_pf.head()

,userId,movieId,rating,timestamp,title,genres,IMAX,Western,War,Horror,...,Crime,Thriller,Comedy,Documentary,Fantasy,Sci-Fi,Mystery,Adventure,Musical,Children
13584,149,31,3.5,1118371520,Dangerous Minds (1995),Drama,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13589,149,48,0.5,1117130520,Pocahontas (1995),Animation|Children|Drama|Musical|Romance,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
13607,149,208,3.0,1117142320,Waterworld (1995),Action|Adventure|Sci-Fi,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
13608,149,216,0.5,1117595840,Billy Madison (1995),Comedy,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13630,149,342,4.0,1117130480,Muriel's Wedding (1994),Comedy,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [20]:
merged_xu_pf.drop(columns=["timestamp", "genres"])

,userId,movieId,rating,title,IMAX,Western,War,Horror,Film-Noir,Animation,...,Crime,Thriller,Comedy,Documentary,Fantasy,Sci-Fi,Mystery,Adventure,Musical,Children
13574,149,1,4.0,Toy Story (1995),0,0,0,0,0,1,...,0,0,1,0,1,0,0,1,0,1
13575,149,2,2.5,Jumanji (1995),0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,1
13576,149,3,0.5,Grumpier Old Men (1995),0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13577,149,5,2.5,Father of the Bride Part II (1995),0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13578,149,7,2.0,Sabrina (1995),0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33825245,330914,202429,5.0,Once Upon a Time in Hollywood (2019),0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
33825246,330914,202439,5.0,Parasite (2019),0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
33825250,330914,204698,4.5,Joker (2019),0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
33825252,330914,205156,4.0,Jojo Rabbit (2019),0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
33825260,330914,207313,2.0,Knives Out (2019),0,0,0,0,0,0,...,1,1,1,0,0,0,1,0,0,0