In [4]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def load_data_files():
    movies = pd.read_csv("ml-latest/movies.csv")
    ratings = pd.read_csv("ml-latest/ratings.csv")
    return movies, ratings

movies, ratings = load_data_files()

ModuleNotFoundError: No module named 'sklearn'

In [3]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        1     4.0  1225734739
1       1      110     4.0  1225865086
2       1      158     4.0  1225733503
3       1      260     4.5  1225735204
4       1      356     5.0  1225735119

In [6]:
movies.drop_duplicates("title", inplace=True)

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86330 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86330 non-null  int64
 1   title    86330 non-null  object
 2   genres   86330 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.6+ MB

In [8]:
ratings.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [9]:
merged = ratings.merge(movies, on="movieId")

In [ ]:

merged.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,1225734739,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,110,4.0,1225865086,Braveheart (1995),Action|Drama|War
2,1,158,4.0,1225733503,Casper (1995),Adventure|Children
3,1,260,4.5,1225735204,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
4,1,356,5.0,1225735119,Forrest Gump (1994),Comedy|Drama|Romance|War

In [41]:
# merged["Comedy"]=(1 if "Comedy" in merged["genres"] else 0)

merged["Comedy"]=np.where(merged["genres"].str.contains("Comedy"),1,0)

In [32]:
if "War" in merged["genres"][4]:
    print(1)
else:
    print(2)

1

In [55]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33828467 entries, 0 to 33828466
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
 4   title      object
 5   genres     object
 6   Comedy     int64
 7   War        int64
dtypes: float64(1), int64(5), object(2)
memory usage: 2.0+ GB

In [58]:
set_of_genres=set()

for j in range(1000):
    list=merged["genres"][j].split("|")
    for word in list:
        set_of_genres.add(word)

print(set_of_genres)

print(len(set_of_genres))

{'IMAX', 'Musical', 'Documentary', 'Mystery', 'Action', 'Comedy', 'Romance', 'Children', 'Animation', 'Horror', 'Film-Noir', 'Crime', 'Thriller', 'Drama', 'Western', 'Sci-Fi', 'Fantasy', 'War', 'Adventure'}
19

In [ ]:
# Tar ca 3 minuter
for k in set_of_genres:
    merged[k]=np.where(merged["genres"].str.contains(k),1,0)

In [61]:
merged.head()

,userId,movieId,rating,timestamp,title,genres,Comedy,War,IMAX,Musical,...,Animation,Horror,Film-Noir,Crime,Thriller,Drama,Western,Sci-Fi,Fantasy,Adventure
0,1,1,4.0,1225734739,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,0,0,0,...,1,0,0,0,0,0,0,0,1,1
1,1,110,4.0,1225865086,Braveheart (1995),Action|Drama|War,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,158,4.0,1225733503,Casper (1995),Adventure|Children,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,260,4.5,1225735204,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,1,356,5.0,1225735119,Forrest Gump (1994),Comedy|Drama|Romance|War,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0