In [14]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

import numpy as np

def load_data_files():
    movies = pd.read_csv("../moviedata/movies.csv")
    ratings = pd.read_csv("../moviedata/ratings.csv")
    return movies, ratings

movies, ratings = load_data_files()

In [2]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        1     4.0  1225734739
1       1      110     4.0  1225865086
2       1      158     4.0  1225733503
3       1      260     4.5  1225735204
4       1      356     5.0  1225735119

In [15]:
movies.drop_duplicates("title", inplace=True)

In [3]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86330 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86330 non-null  int64
 1   title    86330 non-null  object
 2   genres   86330 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.6+ MB

In [16]:
merged = ratings.merge(movies, on="movieId")

In [17]:

merged.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,1225734739,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,110,4.0,1225865086,Braveheart (1995),Action|Drama|War
2,1,158,4.0,1225733503,Casper (1995),Adventure|Children
3,1,260,4.5,1225735204,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
4,1,356,5.0,1225735119,Forrest Gump (1994),Comedy|Drama|Romance|War

In [18]:
merged=merged[merged["timestamp"]%10==0]

In [19]:
merged.head()

,userId,movieId,rating,timestamp,title,genres
12,1,1210,4.5,1225735210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi
20,1,1959,4.0,1225734190,Out of Africa (1985),Drama|Romance
43,1,7122,4.0,1225736170,King of Hearts (1966),Comedy|Drama|War
156,3,2959,5.0,1536173840,Fight Club (1999),Action|Crime|Drama|Thriller
199,4,46578,4.0,1442456140,Little Miss Sunshine (2006),Adventure|Comedy|Drama

In [20]:
x = merged.groupby("userId").count()["rating"]>80
expert_users=x[x].index

merged_xu = merged[merged["userId"].isin(expert_users)]

In [21]:
merged_xu.head()

,userId,movieId,rating,timestamp,title,genres
13584,149,31,3.5,1118371520,Dangerous Minds (1995),Drama
13589,149,48,0.5,1117130520,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
13607,149,208,3.0,1117142320,Waterworld (1995),Action|Adventure|Sci-Fi
13608,149,216,0.5,1117595840,Billy Madison (1995),Comedy
13615,149,262,3.0,1117143780,"Little Princess, A (1995)",Children|Drama

In [22]:
y = merged_xu.groupby("title").count()["rating"]>100
pop_films=y[y].index

merged_xu_pf = merged_xu[merged_xu["title"].isin(pop_films)]

In [23]:
merged_xu_pf.head()

,userId,movieId,rating,timestamp,title,genres
13584,149,31,3.5,1118371520,Dangerous Minds (1995),Drama
13589,149,48,0.5,1117130520,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
13607,149,208,3.0,1117142320,Waterworld (1995),Action|Adventure|Sci-Fi
13608,149,216,0.5,1117595840,Billy Madison (1995),Comedy
13630,149,342,4.0,1117130480,Muriel's Wedding (1994),Comedy

In [12]:
merged.index

Index([      12,       20,       43,      156,      199,      206,      216,
            225,      236,      241,
       ...
       33828360, 33828369, 33828383, 33828384, 33828392, 33828393, 33828408,
       33828448, 33828449, 33828455],
      dtype='int64', length=3381112)

In [55]:
set_of_genres=set()

for j in merged_xu_pf.index:
    list=merged_xu_pf["genres"][j].split("|")
    for word in list:
        set_of_genres.add(word)

print(set_of_genres)

number_of_genres=len(set_of_genres)
number_of_genres

{'Children', 'Western', 'Fantasy', 'Adventure', '(no genres listed)', 'Musical', 'Crime', 'Romance', 'War', 'Action', 'Horror', 'Animation', 'Film-Noir', 'Thriller', 'Drama', 'Mystery', 'Documentary', 'Comedy', 'IMAX', 'Sci-Fi'}

20

In [25]:
# Tar ca 3 minuter
for k in set_of_genres:
    merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)

C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)

In [26]:
merged_xu_pf.head()

,userId,movieId,rating,timestamp,title,genres,Children,Western,Fantasy,Adventure,...,Horror,Animation,Film-Noir,Thriller,Drama,Mystery,Documentary,Comedy,IMAX,Sci-Fi
13584,149,31,3.5,1118371520,Dangerous Minds (1995),Drama,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
13589,149,48,0.5,1117130520,Pocahontas (1995),Animation|Children|Drama|Musical|Romance,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
13607,149,208,3.0,1117142320,Waterworld (1995),Action|Adventure|Sci-Fi,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
13608,149,216,0.5,1117595840,Billy Madison (1995),Comedy,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13630,149,342,4.0,1117130480,Muriel's Wedding (1994),Comedy,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [27]:
merged_xu_pf["year"]=merged_xu_pf["title"].str[-5:-1]

C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_18744\2653649772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf["year"]=merged_xu_pf["title"].str[-5:-1]

In [28]:
merged_xu_pf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 446465 entries, 13584 to 33821566
Data columns (total 27 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   userId              446465 non-null  int64
 1   movieId             446465 non-null  int64
 2   rating              446465 non-null  float64
 3   timestamp           446465 non-null  int64
 4   title               446465 non-null  object
 5   genres              446465 non-null  object
 6   Children            446465 non-null  int64
 7   Western             446465 non-null  int64
 8   Fantasy             446465 non-null  int64
 9   Adventure           446465 non-null  int64
 10  (no genres listed)  446465 non-null  int64
 11  Musical             446465 non-null  int64
 12  Crime               446465 non-null  int64
 13  Romance             446465 non-null  int64
 14  War                 446465 non-null  int64
 15  Action              446465 non-null  int64
 16  Horror              446465 non-null  int64
 17  Animation           446465 non-null  int64
 18  Film-Noir           446465 non-null  int64
 19  Thriller            446465 non-null  int64
 20  Drama               446465 non-null  int64
 21  Mystery             446465 non-null  int64
 22  Documentary         446465 non-null  int64
 23  Comedy              446465 non-null  int64
 24  IMAX                446465 non-null  int64
 25  Sci-Fi              446465 non-null  int64
 26  year                446465 non-null  object
dtypes: float64(1), int64(23), object(3)
memory usage: 111.5+ MB

In [29]:
merged_xu_pf=merged_xu_pf[merged_xu_pf["year"].str.isnumeric()]

In [30]:
merged_xu_pf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 446102 entries, 13584 to 33821566
Data columns (total 27 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   userId              446102 non-null  int64
 1   movieId             446102 non-null  int64
 2   rating              446102 non-null  float64
 3   timestamp           446102 non-null  int64
 4   title               446102 non-null  object
 5   genres              446102 non-null  object
 6   Children            446102 non-null  int64
 7   Western             446102 non-null  int64
 8   Fantasy             446102 non-null  int64
 9   Adventure           446102 non-null  int64
 10  (no genres listed)  446102 non-null  int64
 11  Musical             446102 non-null  int64
 12  Crime               446102 non-null  int64
 13  Romance             446102 non-null  int64
 14  War                 446102 non-null  int64
 15  Action              446102 non-null  int64
 16  Horror              446102 non-null  int64
 17  Animation           446102 non-null  int64
 18  Film-Noir           446102 non-null  int64
 19  Thriller            446102 non-null  int64
 20  Drama               446102 non-null  int64
 21  Mystery             446102 non-null  int64
 22  Documentary         446102 non-null  int64
 23  Comedy              446102 non-null  int64
 24  IMAX                446102 non-null  int64
 25  Sci-Fi              446102 non-null  int64
 26  year                446102 non-null  object
dtypes: float64(1), int64(23), object(3)
memory usage: 95.3+ MB

In [31]:
merged_xu_pf["year"]=merged_xu_pf["year"].astype(int)

In [32]:
merged_xu_pf.head()

,userId,movieId,rating,timestamp,title,genres,Children,Western,Fantasy,Adventure,...,Animation,Film-Noir,Thriller,Drama,Mystery,Documentary,Comedy,IMAX,Sci-Fi,year
13584,149,31,3.5,1118371520,Dangerous Minds (1995),Drama,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1995
13589,149,48,0.5,1117130520,Pocahontas (1995),Animation|Children|Drama|Musical|Romance,1,0,0,0,...,1,0,0,1,0,0,0,0,0,1995
13607,149,208,3.0,1117142320,Waterworld (1995),Action|Adventure|Sci-Fi,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1995
13608,149,216,0.5,1117595840,Billy Madison (1995),Comedy,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1995
13630,149,342,4.0,1117130480,Muriel's Wedding (1994),Comedy,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1994

In [35]:
design_matrix = merged_xu_pf.pivot_table(index="title", columns=["userId"], values="rating")

design_matrix.fillna(0, inplace=True)
design_matrix.head()

userId,149,198,305,440,461,487,527,559,562,677,...,330507,330517,330532,330535,330687,330750,330771,330842,330908,330914
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
(500) Days of Summer (2009),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Cloverfield Lane (2016),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0
10 Things I Hate About You (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians (1996),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
for j in range(6,6+number_of_genres):
    new_df=pd.DataFrame(merged_xu_pf.groupby("title")[merged_xu_pf.columns[j]].sum())
    design_matrix=new_df.merge(design_matrix, on="title")

design_matrix.head()

,Romance_x,Crime_x,Musical_x,Romance_y,Crime_y,Musical_y,149,198,305,440,...,330507,330517,330532,330535,330687,330750,330771,330842,330908,330914
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",0,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
(500) Days of Summer (2009),237,0,0,237,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Cloverfield Lane (2016),0,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0
10 Things I Hate About You (1999),262,0,0,262,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians (1996),0,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
design_matrix["year"]=design_matrix.index.str[-5:-1]
design_matrix=design_matrix[design_matrix["year"].str.isnumeric()]

,Romance_x,Crime_x,Musical_x,Romance_y,Crime_y,Musical_y,149,198,305,440,...,330517,330532,330535,330687,330750,330771,330842,330908,330914,year
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",0,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1989
(500) Days of Summer (2009),237,0,0,237,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2009
10 Cloverfield Lane (2016),0,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,2016
10 Things I Hate About You (1999),262,0,0,262,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1999
101 Dalmatians (1996),0,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1996

In [66]:
design_matrix["year"]=design_matrix["year"].astype(int)
design_matrix.head()

,Romance_x,Crime_x,Musical_x,Romance_y,Crime_y,Musical_y,149,198,305,440,...,330517,330532,330535,330687,330750,330771,330842,330908,330914,year
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",0,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1989
(500) Days of Summer (2009),237,0,0,237,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2009
10 Cloverfield Lane (2016),0,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,2016
10 Things I Hate About You (1999),262,0,0,262,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1999
101 Dalmatians (1996),0,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1996