In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

import numpy as np

def load_data_files():
    movies = pd.read_csv("../moviedata/movies.csv")
    ratings = pd.read_csv("../moviedata/ratings.csv")
    return movies, ratings

movies, ratings = load_data_files()

In [2]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        1     4.0  1225734739
1       1      110     4.0  1225865086
2       1      158     4.0  1225733503
3       1      260     4.5  1225735204
4       1      356     5.0  1225735119

In [31]:
movies.drop_duplicates("title", inplace=True)

In [32]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86330 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86330 non-null  int64
 1   title    86330 non-null  object
 2   genres   86330 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.6+ MB

In [33]:
merged = ratings.merge(movies, on="movieId")

In [34]:

merged.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,1225734739,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,110,4.0,1225865086,Braveheart (1995),Action|Drama|War
2,1,158,4.0,1225733503,Casper (1995),Adventure|Children
3,1,260,4.5,1225735204,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
4,1,356,5.0,1225735119,Forrest Gump (1994),Comedy|Drama|Romance|War

In [35]:
merged=merged[merged["timestamp"]%10==0]

In [36]:
merged.head()

,userId,movieId,rating,timestamp,title,genres
12,1,1210,4.5,1225735210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi
20,1,1959,4.0,1225734190,Out of Africa (1985),Drama|Romance
43,1,7122,4.0,1225736170,King of Hearts (1966),Comedy|Drama|War
156,3,2959,5.0,1536173840,Fight Club (1999),Action|Crime|Drama|Thriller
199,4,46578,4.0,1442456140,Little Miss Sunshine (2006),Adventure|Comedy|Drama

In [37]:
x = merged.groupby("userId").count()["rating"]>80
expert_users=x[x].index

merged_xu = merged[merged["userId"].isin(expert_users)]

In [39]:
merged_xu.head()

,userId,movieId,rating,timestamp,title,genres
13584,149,31,3.5,1118371520,Dangerous Minds (1995),Drama
13589,149,48,0.5,1117130520,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
13607,149,208,3.0,1117142320,Waterworld (1995),Action|Adventure|Sci-Fi
13608,149,216,0.5,1117595840,Billy Madison (1995),Comedy
13615,149,262,3.0,1117143780,"Little Princess, A (1995)",Children|Drama

In [40]:
y = merged_xu.groupby("title").count()["rating"]>100
pop_films=y[y].index

merged_xu_pf = merged_xu[merged_xu["title"].isin(pop_films)]

In [42]:
merged_xu_pf.head()

,userId,movieId,rating,timestamp,title,genres
13584,149,31,3.5,1118371520,Dangerous Minds (1995),Drama
13589,149,48,0.5,1117130520,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
13607,149,208,3.0,1117142320,Waterworld (1995),Action|Adventure|Sci-Fi
13608,149,216,0.5,1117595840,Billy Madison (1995),Comedy
13630,149,342,4.0,1117130480,Muriel's Wedding (1994),Comedy

In [48]:
merged.index

Index([      12,       20,       43,      156,      199,      206,      216,
            225,      236,      241,
       ...
       33828360, 33828369, 33828383, 33828384, 33828392, 33828393, 33828408,
       33828448, 33828449, 33828455],
      dtype='int64', length=3381112)

In [49]:
set_of_genres=set()

for j in merged.index:
    list=merged["genres"][j].split("|")
    for word in list:
        set_of_genres.add(word)

print(set_of_genres)

print(len(set_of_genres))

{'IMAX', 'Western', 'War', 'Horror', 'Film-Noir', 'Animation', 'Action', 'Drama', 'Romance', '(no genres listed)', 'Crime', 'Thriller', 'Comedy', 'Documentary', 'Fantasy', 'Sci-Fi', 'Mystery', 'Adventure', 'Musical', 'Children'}
20

In [50]:
# Tar ca 3 minuter
for k in set_of_genres:
    merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)

C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)
C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\4268190713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf[k]=np.where(merged_xu_pf["genres"].str.contains(k),1,0)

In [51]:
merged_xu_pf.head()

,userId,movieId,rating,timestamp,title,genres,IMAX,Western,War,Horror,...,Crime,Thriller,Comedy,Documentary,Fantasy,Sci-Fi,Mystery,Adventure,Musical,Children
13584,149,31,3.5,1118371520,Dangerous Minds (1995),Drama,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13589,149,48,0.5,1117130520,Pocahontas (1995),Animation|Children|Drama|Musical|Romance,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
13607,149,208,3.0,1117142320,Waterworld (1995),Action|Adventure|Sci-Fi,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
13608,149,216,0.5,1117595840,Billy Madison (1995),Comedy,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13630,149,342,4.0,1117130480,Muriel's Wedding (1994),Comedy,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [55]:
merged_xu_pf["year"]=merged_xu_pf["title"].str[-5:-1]

C:\Users\Björn ITHS\AppData\Local\Temp\ipykernel_29536\2653649772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_xu_pf["year"]=merged_xu_pf["title"].str[-5:-1]

In [58]:
merged_xu_pf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 446465 entries, 13584 to 33821566
Data columns (total 27 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   userId              446465 non-null  int64
 1   movieId             446465 non-null  int64
 2   rating              446465 non-null  float64
 3   timestamp           446465 non-null  int64
 4   title               446465 non-null  object
 5   genres              446465 non-null  object
 6   IMAX                446465 non-null  int64
 7   Western             446465 non-null  int64
 8   War                 446465 non-null  int64
 9   Horror              446465 non-null  int64
 10  Film-Noir           446465 non-null  int64
 11  Animation           446465 non-null  int64
 12  Action              446465 non-null  int64
 13  Drama               446465 non-null  int64
 14  Romance             446465 non-null  int64
 15  (no genres listed)  446465 non-null  int64
 16  Crime               446465 non-null  int64
 17  Thriller            446465 non-null  int64
 18  Comedy              446465 non-null  int64
 19  Documentary         446465 non-null  int64
 20  Fantasy             446465 non-null  int64
 21  Sci-Fi              446465 non-null  int64
 22  Mystery             446465 non-null  int64
 23  Adventure           446465 non-null  int64
 24  Musical             446465 non-null  int64
 25  Children            446465 non-null  int64
 26  year                446465 non-null  object
dtypes: float64(1), int64(23), object(3)
memory usage: 95.4+ MB

In [ ]:
merged_xu_pf=merged_xu_pf[merged_xu_pf["year"].str.isnumeric()]

In [63]:
merged_xu_pf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 446102 entries, 13584 to 33821566
Data columns (total 27 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   userId              446102 non-null  int64
 1   movieId             446102 non-null  int64
 2   rating              446102 non-null  float64
 3   timestamp           446102 non-null  int64
 4   title               446102 non-null  object
 5   genres              446102 non-null  object
 6   IMAX                446102 non-null  int64
 7   Western             446102 non-null  int64
 8   War                 446102 non-null  int64
 9   Horror              446102 non-null  int64
 10  Film-Noir           446102 non-null  int64
 11  Animation           446102 non-null  int64
 12  Action              446102 non-null  int64
 13  Drama               446102 non-null  int64
 14  Romance             446102 non-null  int64
 15  (no genres listed)  446102 non-null  int64
 16  Crime               446102 non-null  int64
 17  Thriller            446102 non-null  int64
 18  Comedy              446102 non-null  int64
 19  Documentary         446102 non-null  int64
 20  Fantasy             446102 non-null  int64
 21  Sci-Fi              446102 non-null  int64
 22  Mystery             446102 non-null  int64
 23  Adventure           446102 non-null  int64
 24  Musical             446102 non-null  int64
 25  Children            446102 non-null  int64
 26  year                446102 non-null  object
dtypes: float64(1), int64(23), object(3)
memory usage: 95.3+ MB

In [71]:
merged_xu_pf["year"]=merged_xu_pf["year"].astype(int)

In [72]:
merged_xu_pf.describe()

,userId,movieId,rating,timestamp,IMAX,Western,War,Horror,Film-Noir,Animation,...,Thriller,Comedy,Documentary,Fantasy,Sci-Fi,Mystery,Adventure,Musical,Children,year
count,446102.000000,446102.000000,446102.000000,4.461020e+05,446102.000000,446102.000000,446102.000000,446102.000000,446102.000000,446102.000000,...,446102.000000,446102.000000,446102.000000,446102.000000,446102.000000,446102.000000,446102.000000,446102.000000,446102.000000,446102.000000
mean,165691.000507,23596.023495,3.373889,1.314380e+09,0.052728,0.019229,0.047092,0.082782,0.010652,0.065099,...,0.301873,0.361074,0.004609,0.124142,0.199701,0.089695,0.255536,0.035366,0.082183,1995.814264
std,94971.498074,40065.843278,1.013077,2.248784e+08,0.223490,0.137328,0.211837,0.275552,0.102659,0.246702,...,0.459071,0.480313,0.067732,0.329744,0.399776,0.285744,0.436162,0.184704,0.274644,14.413197
min,149.000000,1.000000,0.500000,8.256384e+08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1922.000000
25%,84203.000000,1500.000000,3.000000,1.112494e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1990.000000
50%,166823.000000,3508.000000,3.500000,1.329082e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1999.000000
75%,246975.000000,33679.000000,4.000000,1.509419e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2005.000000
max,330914.000000,254726.000000,5.000000,1.689835e+09,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2021.000000